<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://ddys.io/tizen"
        version="0.1.0"
        viewmodes="maximized">
  <tizen:application id="io.ddys.tizen" package="io.ddys" required_version="2.3"/>
  <tizen:profile name="tv-samsung"/>
  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 encryption="disable"
                 install-location="auto"
                 hwkey-event="enable"/>
  <content src="index.html"/>
  <icon src="assets/icon.png"/>
  <name>DDYS</name>
  <description>DDYS Samsung Tizen TV app</description>
  <author href="https://ddys.io" email="dev@ddys.io">DDYS</author>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
</widget>
